<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="name">Enter tha name of the book: </label>
    <input type="text"  id="name" name="starting"/>
    <br/>
    <input type="submit" value="search">
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <br/>
        Book not found!
        <hr/>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <p th:text="${'The book now is with: ' + book.getOwner().getName()}"></p>
        </div>
        <div th:if="${book.getOwner() == null}">
            <p>The book is free to take</p>
        </div>
        <hr/>
    </div>
</div>

</body>
</html>